USE [master]
GO
/****** Object:  Database [reminder]    Script Date: 28-05-2018 10.30.19 PM ******/
CREATE DATABASE [reminder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'reminder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\reminder.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'reminder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\reminder_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [reminder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [reminder]
GO
/****** Object:  Table [dbo].[data]    Script Date: 28-05-2018 10.30.19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data](
	[date] [varchar](50) NOT NULL,
	[time] [varchar](50) NOT NULL,
	[msg] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
